BasedOnStyle: LLVM
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeIsMainSourceRegex: '(\.cu)$'
MainIncludeChar: Any
ReflowComments: true
SortIncludes:
  Enabled: true
  IgnoreCase: false
IncludeCategories:
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  - Regex: '^(<xpool/|")'
    Priority: 3
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 4
